# Build outputs
**/build/
/captures
*.apk
*.aab

# Gradle
*.gradle
.gradle/
gradle/wrapper/gradle-wrapper.jar

# Local configuration
local.properties

# Android Studio / IntelliJ IDEA
*.iml
**/.DS_Store
Thumbs.db
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/deploymentTargetDropDown.xml
.idea/deploymentTargetSelector.xml
.idea/gradle.xml
.idea/compiler.xml
.idea/kotlinc.xml
.idea/migrations.xml
.idea/dictionaries/
.idea/vcs.xml
.idea/shelf/

# NDK
.externalNativeBuild/
.cxx/

# Profiling
*.hprof

# Signing & secrets
*.jks
*.keystore
*.json

# Security - tracking manager sources
app/src/main/java/com/yunho/king/presentation/service/AudioTrackingManager.kt
app/src/main/java/com/yunho/king/presentation/service/CameraTrackingManager.kt